<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Express js</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body class="container">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <a class="navbar-brand" href="/">Accueil</a>
           <ul class="navbar-nav mr-auto">
           <li class="nav-item"><a class="nav-link" href="/services">Nos services</a></li>
           <li class="nav-item"><a class="nav-link" href="/contact">Nous contacter</a></li>
           </ul>
        </nav>
    </header>
    <br/>
    <main>
       <div class="jumbotron">
        <h1>NOS SERVICES </h1>
        <p>
                Pour vous satisfaire nous disposons:</br>
                d'une salle se restauration libre service de 250 places,</br>
                d'un espace de VIP de 25 places;</br>
                d'une zone sanitaire cliente,</br>
                d'un zone espace publique ouvert avec jardin et piscine.</br>
        </p>
       </div>
    </main>

    <footer>
        <p class="text-center text-muted">SUNURESTO © Copyright</p>
    </footer>

    </body>
</html>