body{
    padding-top:50px;
    }

.header{
    background-color: rgb(255,69,0);
}
.img{
    width: 350px;
    height: 250px;
}
.jumbotron{
    background-color: powderblue
}
                       
              